*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
/kotlin-js-store/yarn.lock
*.gpg
publish.sh
/kotlin-js-store/wasm/yarn.lock
/iosApp/Pods/
/iosApp/Podfile.lock
/sample/sample.podspec
